<html>
  <head>
	{% include "styles.html" %}
    <title>BeneTag</title>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
  </head>
  <body>
    
	{% include "header.html" %}
    
 	<form action="/productsearchresult" method="post" align ="center">
		  <input type="search" placeholder="Search product by name"><br>
		  <button type="submit" class="btn"> Search </button>
	</form>
	
	{% include "footer.html" %}

	</body>
</html>
