<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/mobilepage.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <title>BeneTag</title>
  </head>
  <body>

  <body onload="initialize()">

    <p id = "logo"> <a href="./"> BeneTag </a></div>
	<hr id="top-line">
  
    <p2>
    {% if added %}
      <p>Worker added successfully</p>
    {% endif %}
    {% if repeat %}
      <p>Worker already exists</p>
    {% endif %}
    {% if verify %}
      <p>You are not yet verified as a producer.</p>
    {% endif %}
    <form action="/storeworker" enctype="multipart/formdata" method="post">
      <div>Name: <input name="name" id="name"></input></div>
      <div>Factories: 
	{% for factory in factories %}
	    <input type="radio" name="factory" value ="{{factory.key}}">{{factory.name}} {% if factory.unique %} ({{factory.unique}}) {% endif %} </input><br/>			
	{% endfor %}
      </div><br />
      <div>Picture:<input type="file" name="picture"/></div>
      <div>Profile: <textarea name="profile" id="profile"></textarea></div>
      <div>Unique ID (optional): <input name="unique"></input></div><br />
      <div><input type="submit" value="Create worker" a class="span4 btn medium"></div>
    </form></p>
  
  	 <hr id="separator-line">
	
	<p id = "footer"> <a href='/about'>About BeneTag</a><br>
	Copyright BeneTag 2011 </p>
    
  
  </body>
  
  <script type="text/javascript">
    function initialize() {
        var factory_names = new Array();
        {% for name in factory_names %}
            factory_names.push('{{name}}');
        {% endfor %}
        $('#factoryName').autocomplete({
            source: factory_names
        });
    }
  </script>
</html>
