<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
    <title>BeneTag</title>
  </head>
  <body>
    <div id="header" width="100%"><img id="headerimg" src="static/header.png" width="100%"></img></div>
    <h2>
    {% if added %}
      <p>Badge added successfully</p>
    {% endif %}
    {% if repeat %}
      <p>Badge already exists</p>
    {% endif %}

    <form action="/storebadge" enctype="multipart/form-data" method="post">
      <div>Name: <input name="name"></input></div>
	  <div>Description: <textarea name="description"></textarea></div>
      <div>Badge Icon:<input type="file" name="icon"/></div></br>
      <div><input type="submit" value="Create badge" a class='span4 btn medium'></div>
    </form></h2>
  </body>
</html>
