<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <title>BeneTag</title>
  </head>
  <body>

  <body onload="initialize()">
    <div id="header" width="100%"><img id="headerimg" src="static/header.png" width="100%"></img></div>
    <h2>
     {% if added %}
       <p>Product added successfully</p>
     {% endif %}
     {% if repeat %}
       <p>Product already exists</p>
     {% endif %}
     {% if verify %}
       <p>You are not yet verified as a producer.</p>
     {% endif %}
     <form action="/storeproduct" enctype="multipart/form-data" method="post">
      <div>Name: <input name="name" id="name"></input></div><br />
	  <div>Factories: 
	  {% for factory in factories %}
		<input type="radio" name="factory" value ="{{factory.key}}">{{factory.name}} {% if factory.unique %} ({{factory.unique}}) {% endif %} </input><br/>			
	  {% endfor %}
	  </div><br />
	  <div>Workers: 
	  {% for worker in workers %}
		<input type="checkbox" name="workers" value ="{{worker.key}}">{{worker.name}} {% if worker.unique %} ({{worker.unique}}) {% endif %} </input><br/>
	  {% endfor %}
	  </div><br />
	  <div>Badges:
	  {% for badge in badges %}
		<input type="checkbox" name="badges" value ="{{badge.key}}">{{badge.name}}</input><br/>
	  {%endfor%}
	  </div><br />
      <div>Picture:<input type="file" name="picture"/></div><br />
      <div>Unique ID (optional): <input name="unique"></input></div><br />
      <div><input type="submit" value="Create product" a class='span4 btn medium'></div>
    </form></h2>
  </body>
  <script type="text/javascript">
    function initialize() {
        var factory_names = new Array();
        {% for factory in factories %}
            {% if factory.unique %}
            	factory_names.push('{{factory.name}} ({{factory.unique}})');
            {% else %}
            	factory_names.push('{{factory.name}}');
            {% endif %}
        {% endfor %}
        $('#factoryName').autocomplete({
            source: factory_names
        });
    }
  </script>
</html>
