<!DOCTYPE html>
<html>
  <head>
  	
  	{% include "styles.html" %}
    <title> Create a Factory </title>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
  </head>
 
  <script>
    var map;
    var marker;
    function initialize() {
        var latlng = new google.maps.LatLng(39.095963, -102.744141);
        var myOptions = {
            zoom: 2,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        google.maps.event.addListener(map, 'click', function(event) {
            if (!marker) {
                marker = new google.maps.Marker({
                    map: map,
                    position: event.latLng
                });
            } else {
                marker.setPosition(event.latLng);
            }
            changeInput();
        });
    }

    function address_change() {
        var address = $('#address').val();
        geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                map.setZoom(9);
                changeInput();
            } else {
            }
        });
    }

    function changeInput() {
        var lat = marker.getPosition().lat();
        var lng = marker.getPosition().lng();
        $('#location').val(lat+','+lng);
    }
  </script>
  <body onload="initialize()">

   {% include "header.html" %}
		
	  {% if added %}
	  <p>Factory added successfully</p>
	  {% endif %}
	  {% if repeat %}
	  <p>Factory already exists</p>
	  {% endif %}
	
		<p><form action="/storefactory?more=True" enctype="multipart/form-data" method="post">
		  <div>Name: <input name="name"></input></div>
		  <div>Address: <input id="address" onchange="address_change()" name="address"></input></div>
		  <div>Picture:<input type="file" name="picture"/></div><br />
		  <div>Unique ID (optional): <input name="unique"></input></div><br />
		  <input id="location" name="location" type="hidden"></input><br />
		  <div><input type="submit" value="Create factory" a class='span4 btn medium'></div>
		</form></p>
	
		<div id="map_canvas"></div>
		
	{% include "footer.html" %}

  </body>
</html>
