<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  </head>
  <body onload="initialize()">
    <form action="/storeproduct" method="post">
      <div>Name: <input name="name"></input></div>
      <div>Producer: <input name="producerName" value={{producerName}}></input></div>
	  <div>Factory: <input name="factoryName"></input></div>
	  <div><label>Picture:</label></div>
            <div><input type="file" name="picture"/></div>
	  <div>
	  {% for badge in badges %}
		<input type="checkbox" name="badges" value ="{{badge.key}}">{{badge.name}}</input><br/>
	  {%endfor%}
	  </div>
      <div><input type="submit" value="Create product"></div>
    </form>
  </body>
  <script type="text/javascript">
    function initialize() {
        var factory_names = new Array();
        {% for name in factory_names %}
            factory_names.push('{{name}}');
        {% endfor %}
        $('#factoryName').autocomplete({
            source: factory_names
        });
    }
  </script>
</html>
