<html>
  <head>
	{% include "styles.html" %}
    <title>BeneTag</title>
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    
  </head>
  
 	<script type="text/javascript">
		function initialize() {
			var factory_names = new Array();
			{% for name in factory_names %}
				factory_names.push('{{name}}');
			{% endfor %}
			$('#factoryName').autocomplete({
				source: factory_names
			});
		}
  	</script>
  
  
  <body>

  <body onload="initialize()">

    {% include "header.html" %}
  
    <p2>
    {% if added %}
      <p>Worker added successfully</p>
    {% endif %}
    {% if repeat %}
      <p>Worker already exists</p>
    {% endif %}
    <form action="/storeworker?more=True" enctype="multipart/formdata" method="post">
      <div>Name: <input name="name" id="name"></input></div>
      <div>Factories: 
	{% for factory in factories %}
	    <input type="radio" name="factory" value ="{{factory.key}}">{{factory.name}} {% if factory.unique %} ({{factory.unique}}) {% endif %} </input><br/>			
	{% endfor %}
      </div><br />
      <div>Picture:<input type="file" name="picture"/></div>
      <div>Profile: <textarea name="profile" id="profile"></textarea></div>
      <div>Unique ID (optional): <input name="unique"></input></div><br />
      <div><input type="submit" value="Create worker" a class="span4 btn medium"></div>
    </form></p>
  
  	 <hr id="separator-line">
	
	{% include "footer.html" %}
    
  </body>
</html>
