<html>
  <head>
	{% include "styles.html" %}
    <title>BeneTag</title>
  
  </head>
  <body>
    
    
    <!--<div id="header" width="100%"><img id="headerimg" src="static/header.png" width="100%"></img></div>-->
    <div id="scrollable-panel">
    	
    	{% include "header.html" %}
			
		<form action="/productsearchresult" method="post" align ="center">
		  <input type="search" placeholder="Search product by name"><br>
		  <button type="submit" class="btn"> Search </button>
		</form>
		
		<div class="column show-grid" id="buttons" align="center"><a class='btn large' width='100%' href='/signup?producer=True'>Log in as producer</a></div>
		<div class="column show-grid" id="buttons" align="center"><a class='btn large' width='100%' href='/signup?consumer=True'>Log in as consumer</a></div>
	
		{% include "footer.html" %}
	
	</body>
</html>
