<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/fb/benetag#">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    	<meta property="fb:app_id"      content="286512274727203" /> 
        <meta property="og:type"        content="website" /> 
        <meta property="og:url"         content="{{url}}" /> 
        <meta property="og:title"       content="{{name}}" /> 
        <meta property="og:description" content="Made by {{producer}}" /> 
        <meta property="og:image"       content="{{qr_url}}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="icon.png"/>
        
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>{{name}} by {{producer}} - BeneTag</title>
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/mobilepage.css" />
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <script type="text/javascript">
            function initialize() {
                {% if latitude and longitude %}
                var latlng = new google.maps.LatLng({{latitude}}, {{longitude}});
                /*var myOptions = {
                    zoom: 8,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                document.getElementById("map_canvas").style.position="fixed";
                var marker = new google.maps.Marker({
                                                    position: latlng,
                                                    map: map,
                                                    }); */
                
                
                var userLat;
                var userLong;
                var factName = '{{factory_name}}';
                var factAdd = '{{factory_address}}';
                
                if (navigator.geolocation) // check if browser support this feature or not
                {
                    navigator.geolocation.getCurrentPosition(function(position)
                                                             {
                                                             userLat = position.coords.latitude;
                                                             userLong = position.coords.longitude;
                                                             var R = 3959; // miles
                                                             var dLat = (userLat-{{latitude}})*(Math.PI/180);
                                                             var dLon = (userLong-{{longitude}})*(Math.PI/180);
                                                             var lat1 = {{latitude}}*(Math.PI/180);
                                                             var lat2 = userLat*(Math.PI/180);
                                                             
                                                             var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                                                             Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2); 
                                                             var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
                                                             var d = R * c;
                                                             
                                                             document.getElementById('distance').innerHTML = '<td><div id="distance-div"> <div id="distance-value">' + d.toFixed(1) + ' mi </div> <p id="away"> away</p></div></td> <td id="info" class = "spaced">' + factName + '<br>' + factAdd + '</td>';
                                                           
                                                             }, function()
                                                             {
                                                             	document.getElementById('distance').innerHTML = '<td id="info">' + factName + '<br>' + factAdd + '</td>';
                                                             });
                }
                
                else {
                	document.getElementById('distance').innerHTML = '<td id="info">' + factName + '<br>' + factAdd + '</td>';
                }
                
                {% endif %}
                
                FB.init({
                        appId      : '286512274727203', // App ID
                        channelUrl : 'benetag.com/view', // Channel File
                        status     : true, // check login status
                        cookie     : true, // enable cookies to allow the server to access the session
                        oauth      : true, // enable OAuth 2.0
                        xfbml      : true  // parse XFBML
                        });
            }
            
            function fbshare() {
                FB.login(function(response) {
                         if (response.authResponse) {
                         var request = $.ajax({
                                              url: "https://graph.facebook.com/me/benetag:share",
                                              type: "POST",
                                              data: {website : '{{url}}', access_token: response.authResponse.accessToken},
                                              success: function(data) {
                                              },
                                              });
                         }
                         }, {scope : 'publish_actions'});
            }
            </script>
            
            <!--this style for new properties in iOS 5 could be moved to css file if need be -->
    </head>
    <body onload="initialize()">
        <!-- MAIN PANEL -->
        <div >
            <!-- panel style is a twitter bootstrap style -->
            
            <!-- SCROLLABLE PANEL -->
            <div id="scrollable-panel">
            	
            	<!-- scrollable and panel styles are new styles -->
                <!-- here, content -->
            
                <p id="brand"><a href="./"> BeneTag 4/16 </a></p>
                <hr id="top-line">
                
                <table id="productinfo">
                    {% if has_image %}
                    <td id="productimagecontainer"><img id="productimage" src="productimage?id={{id}}"></img></td>
                    {% endif %}
                    <td id="producttextinfo">
                        
                    </td>
                </table>
                
                <p id="producername"><a href="/viewproducer?id={{producer.key}}">{{producer}}</a> </p>
                <p id="productname"> {{ name }} </p>
                {%if has_badges%}
                
                <hr id="separator-line">
                
                <table id="badges">
                    
                    {% for badge in badges %}
                    {%if forloop.counter0|divisibleby:3%} <tr> {%endif%}
                            <td><img id="badgeimage" src="badgeimage?key={{badge}}"></img </td>
                    {%if forloop.counter1|divisibleby:3%} </tr> {%endif%}
                    {%endfor%}
                </table>
                {%endif%}
                
                
                <hr id="separator-line">
                <p id="section-heading">Other info:</p>
                <p id="price"> $25.00 </p>
                
                <table id="buy-buttons">
                <tr>
                <td><button class="btn buy" id="sugretailer">Cheapest at Amazon</button></td>
                <td><button class="btn buy" id="other">11 others</button></td>
                </tr>
                </table>
               
                <p id="info"> super soft tri-blend fabric <br> sizes S-XXL </p>
                
                <hr id="separator-line">
                
                <p id="section-heading">Manufactured at:</p>
                
                {% if factory %}
                <table id="factory-table">
                    <tr id = "distance"> 
                    </tr>
                </table>
                <p id="moreinfo"> <a href="/viewfactory?id={{factory.key}}">see more info ></a></p>
                {% endif %}
                
               <!-- {% if latitude and longitude %}
                <div id="map_canvas"></div>
                {% endif %} --> 
               
               
               <hr id="separator-line">
               <p id="section-heading">Made by:</p>
               <p id="workerstory">Dave and his 10 robot friends.</p>
               <p id="moreinfo"> <a href="/viewproductworkers?id={{id}}">see more info ></a></p>
               
               <hr id="separator-line">
               
                <div id="social-buttons">
                    <div><button class="btn secondary" id="fbshare" onclick="fbshare()">Share on Facebook</img></button></div>
                    <div id="social-row"><a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-hashtags="BeneTag">Tweet</a>
                    </div>
                    <div id="social-row"><g:plusone></g:plusone></div>
                    <div id="social-row"><a href="http://pinterest.com/pin/create/button/?url={{url}} &media={{qr_url}}&description=Made by {{producer}}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>
                </div>
                
                <div id="fb-root"></div>
                
                <hr id="separator-line">
                
                <p id = "comments-link"> 59 comments > </p>
                
                <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            
            </div>
        </div>
    </body>
</html>
