<html>
  <head>
	{% include "styles.html" %}
    <title>BeneTag</title>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
  </head>
  <body>
    
   {% include "header.html" %}
    
    <h2>
    {% if verify %}
      <p>You are not yet verified as a producer</p>
    {% endif %}
    {% if not_owner %}
      <p>You cannot edit that item as you do not own it</p>
    {% endif %}
    {% if not_exist %}
      <p>That item does not exist</p>
    {% endif %}

    </br><h2><form action="/productsearchresult" method="post">
      <div><input name="query" type="search" placeholder="Search product by name"></input></div></br>
      <div><input type="submit" value="Search" a class='span4 btn large'></div>
    </form></h2>
    
    <div class="column show-grid"id="buttons">
    <a class='span3 btn large' width='100%' align='center' href='/createproduct'>Create product</a>
    <a class='span3 btn large' align='center' href='/createfactory'>Create factory</a>
    <a class='span3 btn large' align='center' href='/createworker' >Create worker</a>
    </br></br></br>
    </div>
	
	{% include "footer.html" %}

	</body>
</html>
