<html>
  <head>
	{% include "styles.html" %}
    <title>BeneTag</title>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <body>
	{% include "navbar.html" %}
	{% include "headerlogo.html" %}
    <br>
    
    <p id = "section-heading">Results</p>
    {% for p in matches %}
    <p id = "info"><a href="/mobilepage?id={{p.key}}">{{p.name}}</a></p>
    {% endfor %}
    
    {% include "footer.html" %}
    
  </body>
</html>
