<html>
	<head>
		{% include "styles.html" %}
		<title>BeneTag</title>
		
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	</head>

</head>
	
	<body>
		{% include "headersmall.html" %}
		
		<h1>{{producer.name}}</a></h1>
		
		<p>Workers:</p>
		{% for worker in workers %}
			<p><a href="/viewworker?id={{worker.key}}">{{worker.name}}</a> 
			   {% if can_edit %} <small>(<a href="/editworker?id={{worker.key}}">Edit </a>)</small>{% endif %}
			</p>
		{% endfor %}
		
		{% include "footer.html" %}
	</body>

</html>
