<html>
  <head>
    {% include "styles.html" %}
    <title>BeneTag</title>
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/viewfactory.css" />
    
	</head>
	
	<body onload="initialize()">
		{% include "headersmall.html" %}
		<h1>{{consumer.name}}</a></h1>
		
		<p>Profile: </p>
		<p>{{consumer.profile}}</p>
		
		{% if can_edit %}
			<small><a href="/editproducer">Edit your profile</a></small>
		{% endif %}
		{% include "footer.html" %}
	</body>
</html>
