<html>
	<head>
		{% include "styles.html" %}
		<title>BeneTag</title>
		
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	</head>

	<body>
		
		{% include "headersmall.html" %}
		
		<p id="productname">{{producer.name}}</a></p>
		
		<hr id="separator-line">
		
		<p id ="section-heading">Factories:</p>
		
		{% for factory in factories %}
			<p id="info"><a href="/viewfactory?id={{factory.key}}">{{factory.name}}</a> 
			   {% if can_edit %} (<a href="/editfactory?id={{factory.key}}">edit </a>){% endif %}
			</p>
		{% endfor %}
		
		{% include "footer.html" %}
		
	</body>


</html>
