<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
     <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/viewfactory.css" />
    <title>BeneTag</title>

</head>
<body onload="initialize()">
<h1>{{producer.name}}</a></h1>

<p>Products:</p>
{% for product in products %}
    <p><a href="/mobilepage?id={{product.key}}">{{product.name}}</a> 
       {% if can_edit %} <small>(<a href="/editproduct?id={{product.key}}">Edit </a>)</small>{% endif %}
    </p>
{% endfor %}



</html>
