<html>
	<head>
		{% include "styles.html" %}
		<title>BeneTag</title>
		
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	</head>
	
	<body>
		
		{% include "headersmall.html" %}
		
		<p id="productname">{{producer.name}}</a></p>
		
		<hr id="separator-line">
		
		<p id ="section-heading">Products:</p>
		
		{% for product in products %}
			<p id="info"><a href="/mobilepage?id={{product.key}}">{{product.name}}</a> 
			{% if can_edit %} (<a href="/editproduct?id={{product.key}}">edit </a>) {% endif %}
			</p>
		{% endfor %}
		
		{% include "footer.html" %}
	
	</body>

</html>
