<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
  </head>
  <body>
<h1 id="factoryname">Factory : {{ name }}</h1>
<div>Address: {{address}}</div>
<hr></hr>
<div>
Products</br>
{% for product in products%}
   </br>{{index}}{{product.name}}
{% endfor %}
</div>

<div>
{% for producer in producers %}
  <p>Producer :{{producer.name}}</p>
{% endfor %}
</div>
<div>
{% for worker in workers %}
  <p>Worker :{{worker.name}}</p>
{% endfor %}
</div>
  </body>
</html>
