<html>
	<head>
		{% include "styles.html" %}
		<title>BeneTag</title>
		
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	</head>

</head>
	
	<body>
		{% include "headersmall.html" %}
		
		<p id="productname">{{producer.name}}</a></p>
		
		<hr id="separator-line">
		
		<p id ="section-heading">Workers:</p>
		
		{% for worker in workers %}
			<p id="info"><a href="/viewworker?id={{worker.key}}">{{worker.name}}</a> 
			   {% if can_edit %}(<a href="/editworker?id={{worker.key}}">Edit </a>){% endif %}
			</p>
		{% endfor %}
		
		{% include "footer.html" %}
	</body>

</html>
