<html>
	<head>
		{% include "styles.html" %}
		<title>BeneTag</title>
		
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		
		<script type="text/javascript">
			function initialize() {
				{% if latitude and longitude %}
					var latlng = new google.maps.LatLng({{latitude}}, {{longitude}});
					var myOptions = {
						zoom: 8,
						center: latlng,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					};
					var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
					document.getElementById("map_canvas").style.position="fixed";
					var marker = new google.maps.Marker({
						position: latlng,
						map: map,
					});
				{% endif %}
			}
		</script>
	</head>

	<body onload="initialize()">
		{% include "headersmall.html" %}
		
		<p id="productname">{{ name }}</p>
		
		{% if has_image %}
		<img id="workerimage" src="workerimage?id={{id}}"></img>
		{% endif %}   
		
		<hr id="separator-line">
		
		<p id="section-heading">His Story</p>
		
		<p id="info">Employer: <a href="/viewproducer?id={{producer.key}}">{{producer.name}}</a></p>
		<p id="info">Factory : <a href="/viewfactory?id={{factory.key}}">{{factory.name}}</a></p>
		
		<p id="info">{{profile}}</p>
		<hr id="separator-line">
		
		
			{% if latitude and longitude %}
				<div id="map_canvas"></div>
			{% endif %}
		
		<hr id="separator-line">
		
		<p id="section-heading">Products:</p>
			{% for product in products %}
			<p id="info"><a href="/mobilepage?id={{product.key}}">{{product.name}}</a></p>
			{% endfor %}
		
		{% if can_edit %}
			<p><a href="/editworker?id={{id}}">Edit your worker's profile</a></p>
		{% endif %}
		
		{% include "footer.html" %}
		
	</body>
</html>
