<html>
	<head>
		{% include "styles.html" %}
		<title>BeneTag</title>
		
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	</head>

	<body>
		
		{% include "headersmall.html" %}
		
		<p id="productname">{{producer.name}}</a></p>
		
		<p id ="section-heading"><Description:</p>
		<p id = "info">{{producer.description}}</p>
		
		<hr id="separator-line">
		
		<p id="info"><a href="/viewproducerworkers?id={{id}}">Workers</a></p>
		<br />
		
		<p id="info"><a href="/viewproducerfactories?id={{id}}">Factories</a></p>
		<br />
		
		<p id="info"><a href="/viewproducerproducts?id={{id}}">Products</a></p>
		<br />
		
		{% if can_edit %}
			<p><a href="/editproducer">Edit your profile</a></p>
		{% endif %}
		
		{% include "footer.html" %}
		
	</body>
</html>
